.white {
  color: white;
}

.white:hover {
  color: #fe5d37;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 20px;
  width: 100%;
}

.btn-primary {
  background-color: #fe5d37 !important;
  border: none !important;
  color: #fff !important;
  border-radius: 0.375rem !important;
  /* rounded-md */
  font-size: 0.875rem !important;
  /* text-sm */
  font-weight: 500 !important;
  height: 2.5rem !important;
  /* h-10 */
  padding: 0.5rem 1rem !important;
  /* py-2 px-4 */
  width: 100%;
  text-align: center;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05) !important;
  transition: background-color 0.2s ease-in-out !important;
}

.btn-primary:hover {
  background-color: rgba(254, 93, 55, 0.9) !important;
}

.btn-primary:focus-visible {
  outline: none !important;
  box-shadow: 0 0 0 2px white, 0 0 0 4px #fe5d37 !important;
}

.btn-primary:disabled {
  pointer-events: none !important;
  opacity: 0.5 !important;
}

.header-bottom {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  width: 97.5%;
  height: 100%;
  top: 0;
  left: 0;
}

.btn {
  font-weight: 500;
  transition: 0.5s;
}

/* .login-form {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: 100%;
  max-height: 480px;
} */

.profile-form {
  display: flex;
  flex-direction: column;
}

.profile-label {
  font-weight: 500;
  font-size: 16px;
}

.setup-img-upload {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 10px;
  width: 220px;
}

.setup-img-default {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #f2f2f2;
}

.setup-img-default>img,
.setup-img-upload>img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.setup-img-default>svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 28px;
  height: 28px;
  color: gray;
}

.setup-img-upload>input {
  display: none;
}


.article .slick-list {
  margin-bottom: -450px !important;
}

.custom-dropdown {
  position: relative;
  margin-left: 40px;
}

.custom-dropdown-toggle {
  border: 1px solid #fff !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-dropdown-menu {
  position: absolute;
  z-index: 9999;
  top: 100%;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 9px 18px 0 rgba(144, 173, 248, 0.25);
  padding-bottom: 0;
  width: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  left: -5px;
}

.custom-dropdown-item {
  cursor: pointer;
  margin: 5px 0;
}

.navbar-modal {
  margin: 0 !important;
  height: 100vh !important;
  background-color: #fff !important;
}

.modal-button {
  display: none !important;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 260px;
  height: auto;
  /* box-shadow: rgba(144, 173, 248, 0.25) 0px 9px 18px 0px; */
  z-index: 9999;
  left: 238px;
  top: 10px;
}

.dropdown-menu {
  min-width: 200px !important;
}

.dropdown-content a {
  color: black;
  padding: 6px 16px;
  text-decoration: none;
  display: block;
  font-size: 16px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media (max-width: 768px) {
  .container {
    width: 100% !important;
  }

  .modal-button {
    display: block !important;
  }

  .dropdown-content {
    max-width: 200px;
  }

  .dropdown-content a {
    font-size: 14px;
  }

  .council-name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical
  }

  .council-texts {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical
  }
}

/* 
.course-lesson-video {
  width: 100% !important;
  object-fit: cover;
  max-width: 100%;
} */