:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif !important;
}

.container {
  max-width: 1400px;
  padding: 0 15px;
  margin: auto;
  width: 100%;
  background-color: #fff;
}

.slick-slide {
  margin: 0 15px;
}

.slick-list {
  margin-bottom: -150px !important;
}

.container-fluid {
  background-color: #fff;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none !important;
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #fe5d37;
}


